@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Funeral_Policy.Models.FuneralBooking>
@{
    ViewBag.Title = "Index2";
    var message = TempData["AlertMessage"] ?? string.Empty;
}
<script>
                var msg = '@message';
                if (msg)
                    alert(msg)
    </script>
    @*<br id="funeralBoking" />
    <br />
    <br />
    <br />
    <br />*@
<title>font awesome file invoice icon</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<html>
<head>

    <style>
        .webgrid-table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 1.2em;
            width: 100%;
            display: table;
            border-collapse: separate;
            border: solid 1px #98BF21;
            background-color: white;
        }

            .webgrid-table td, th {
                border: 1px solid #98BF21;
                padding: 3px 7px 2px;
            }
    </style>

</head>
<body>
    <center>

        <div style="background-color:whitesmoke; height:37px;width:85% ;font-size:15px;">
            <h2>Funeral List</h2>
        </div>
        <div class="card shadow mb-4" style="background-color:aliceblue;height:max-content; width:max-content;font-size:13px; top:auto">
            <div class="card-header ">
                <p>
                    <div>
                        @using (Html.BeginForm("Index2", "FuneralBookings", FormMethod.Get))
                        {
                            //the following are search options

                            <b> Search Option: </b>@Html.RadioButton("option", "address") <text>Address</text> @Html.RadioButton("option", "Status") <text> Status </text>

                            @Html.RadioButton("option", "creator")<text>Email</text> @Html.TextBox("search")
                            <input type="submit" name="submit" value="Search" />}
                    </div>
                </p>
                <table class="table">
                    <tr>
                        @*<th>
                                @Html.DisplayNameFor(model => model.FuneralType.funeralTypeName)
                            </th>*@

                        <th>
                            @Html.DisplayNameFor(model => model.First().creator)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().DateCreated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().FuneralDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Time)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().address)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.FuneralPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CoffinPrice)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.First().FuneralName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().CoffinName)
                        </th>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.First().Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().TotalCost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().isPaid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Action)
                        </th>

                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.FuneralType.funeralTypeName)
                                </td>*@

                            <td>
                                @Html.DisplayFor(modelItem => item.creator)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FuneralDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Time)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.address)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.FuneralPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoffinPrice)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FuneralName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CoffinName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.isPaid)
                            </td>

                            <td>
                                @*<div class="btn-group">
                                        <a class="btn btn-danger" href="@Url.Action("Reject", "FuneralBookings", new { id = item.funeralBookingId }, null)">
                                            <span class="icon_lightbulb_alt"></span>
                                            Reject Order
                                        </a>
                                    </div>*@

                                <a href="@Url.Action("ConfirmBooking", "FuneralBookings", new { id = item.funeralBookingId,st=item.Status })" onclick="return confirm('Are you sure you want to approve, click Ok to Confirm, Or Cancel');" rel="tooltip" title="Approve" class="btn btn-success btn-simple btn-xs"><i class="fa fa-check" aria-hidden="true"></i></a>
                                <a href="@Url.Action("Reject", "FuneralBookings", new { id = item.funeralBookingId,st=item.Status })" onclick="return confirm('Are you sure you want to Reject, click Ok to Confirm, Or Cancel');" rel="tooltip" title="Reject" class="btn btn-success btn-danger btn-xs"><i class="fa fa-ban" aria-hidden="true"></i></a>
                            </td>

                            <td>
                                @*<div class="btn-group">
                                        <a class="btn btn-danger" href="@Url.Action("PrintInvoice", "FuneralBookings", new { id = item.funeralBookingId ,st=item.Status }, null)">
                                            <span class="icon_lightbulb_alt"></span>
                                            Invoice
                                        </a>
                                    </div>*@
                                <a href="@Url.Action("PrintInvoice", "FuneralBookings", new { id = item.funeralBookingId,st=item.Status  })" onclick="return confirm('Are you sure you want to print Invoice, click Ok to Confirm, Or Cancel');" rel="tooltip" title="Print Invoice" class="btn btn-success btn-simple btn-simple"><i class="fas fa-file-invoice fa-500px fa-spin" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                @*<div class="btn-group">
                                        <a class="btn btn-danger" href="@Url.Action("ConfirmBooking", "FuneralBookings", new { id = item.funeralBookingId ,st=item.Status }, null)">
                                            <span class="icon_lightbulb_alt"></span>
                                            Assign Staff
                                        </a>
                                    </div>*@

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

    </center>
</body>
</html>

@Html.PagedListPager(Model, pageNumber => Url.Action("Index", new
{
    pageNumber,
    option = Request.QueryString["option"],
    search = Request.QueryString["search"]
}))
