@model IEnumerable<Funeral_Policy.Models.Claim>

@{
    ViewBag.Title = "Index2";
}

<html>
<head>

    <style>
        .webgrid-table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 1.2em;
            width: 100%;
            display: table;
            border-collapse: separate;
            border: solid 1px #98BF21;
            background-color: white;
        }

            .webgrid-table td, th {
                border: 1px solid #98BF21;
                padding: 3px 7px 2px;
            }
    </style>

</head>
<body>
    <center>

        <div style="background-color:whitesmoke; height:37px;width:85% ;font-size:15px;">
            <h2>My Claim</h2>
        </div>
        <div class="card shadow mb-4" style="background-color:aliceblue;height:max-content; width:max-content;font-size:13px; top:auto">
            <div class="card-header ">

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MembershipNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClaimDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tittle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Surname)
                        </th>
                        @*<th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.NID)
                        </th>
                        @*<th>
            @Html.DisplayNameFor(model => model.Race)
        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>


                        @*<th>
            @Html.DisplayNameFor(model => model.)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyEarnings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occupation)
        </th>*@


                        <th>Deceased Details</th>
                        <th>Id Document</th>
                        <th>Bank Statement</th>
                        <th>Action</th>

                    </tr>



                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClaimDate)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Tittle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.NID)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.Race)
        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>


                    @*<td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyEarnings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occupation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Education)
        </td>*@


                    <td>

                        <a href="@Url.Action("DeceasedView", "Claims", new { id = item.claimId })" rel="tooltip" title="Click To view" class="btn btn-primary btn-simple btn-xs">Review Deceased<i class="fa fa-rev" aria-hidden="true"></i></a>

                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="@Url.Action("OpenPDFIDDoc", "Claims", new { id=item.claimId },null)">
                                <span class="icon_lightbulb_alt"></span>
                                View Pdf
                            </a>
                        </div>
                    </td>

                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="@Url.Action("OpenPDFBankStatementDoc", "Claims", new { id=item.claimId },null)">
                                <span class="icon_lightbulb_alt"></span>
                                View Pdf
                            </a>
                        </div>
                    </td>

                    @*<td>
            <div class="btn-group">
                <a class="btn btn-primary" href="@Url.Action("OpenPDFPaySlipDoc", "Claims", new { id=item.claimId },null)">
                    <span class="icon_lightbulb_alt"></span>
                    View Pdf
                </a>
            </div>
        </td>


        <td>
            <div class="btn-group">
                <a class="btn btn-primary" href="@Url.Action("OpenPDFProofOfAddressDoc", "Claims", new { id=item.claimId },null)">
                    <span class="icon_lightbulb_alt"></span>
                    View Pdf
                </a>
            </div>
        </td>*@

                    @*<td>
            @if (item.Status == "Incomplete")
            {
                <a href="@Url.Action("CountinueApp", "MemberApplications", new { id = item.MemberAplicationId })" onclick="return confirm('Are you sure you want to continue with the application, click Ok to Confirm, Or Cancel');" rel="tooltip" title="Continue" class="btn btn-success btn-simple btn-xs"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>}
            @if (item.Status == "Approved")
            {
                <a href="@Url.Action("AcceptPolicy", "Memberapplications", new { id = item.MemberAplicationId })" onclick="return confirm('Are you sure you want to Accept this policy offer, click Ok to Confirm, Or Cancel');" rel="tooltip" title="Accept Policy" class="btn btn-success btn-simple btn-xs"><i class="fa fa-check" aria-hidden="true"></i></a>}

            @if (item.Status == "Policy Accepted")
            {
                <a href="@Url.Action("OnceOff", "Memberapplications", new { id = item.MemberAplicationId })" onclick="return confirm('Are you sure you want to Pay Premium fee, click Ok to Confirm, Or Cancel');" rel="tooltip" title="Pay" class="btn btn-primary btn-simple btn-xs"><i style="font-size:24px" class="fa">&#xf1ed;</i></a>}

            @if (item.Status == "Premium Paid")
            {
                <a href="@Url.Action("registerMember", "MemberApplications", new { id = item.MemberAplicationId })" onclick="return confirm('Are you sure you want to register, click Ok to Confirm, Or Cancel');" rel="tooltip" title="Register" class="btn btn-success btn-simple btn-xs"><i class="fa fa-registered" aria-hidden="true"></i></a>}

            @if (item.Status == "Registered" || item.Status == "Premium Paid")
            {
                <a href="@Url.Action("OnceOff", "Memberapplications", new { id = item.MemberAplicationId })" onclick="return confirm('Are you sure you want to Pay Premium fee, click Ok to Confirm, Or Cancel');" rel="tooltip" title="Pay" class="btn btn-primary btn-simple btn-xs"><i style="font-size:24px" class="fa">&#xf1ed;</i></a>}
        </td>*@
                    @*<td>*@
                <td>
                    @if (!User.IsInRole("Admin") && item.Status == "Approved")
                    {
                       
                        <div class="btn-group">
                            <a class="btn btn-success" href="@Url.Action("MakeFuneral", "Claims", new { id = item.claimId }, null)">
                                <span class="icon_lightbulb_alt"></span>
                                Book Funeral
                            </a>
                        </div>
                    }

                </td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.claimId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.claimId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.claimId })
                    </td>*@

                </tr>

                    }
                   

                </table>

            </div>
        </div>

    </center>


</body>
</html>
