@model IEnumerable<Funeral_Policy.Models.MemberType>

@{
    ViewBag.Title = "MemberTypeView";
}

<h2>MemberTypeView</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payout)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payout)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.memberTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.memberTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.memberTypeId })
        </td>
    </tr>
}

</table>
